%h1 Your tickets:
= redux_store("TicketsStore", props: { ticketsData: { tickets: @tickets, modal: {chosenTicketId: -1, type: 'read'} } })
= react_component("TicketsApp", props: { ticketsData: { tickets: @tickets, modal: {chosenTicketId: -1, type: 'read'} } }, prerender: false)

