%h1 Your tickets:
= redux_store("TicketsStore", props: { ticketsData: {tickets: @tickets, chosenTicketId: -1}})
= react_component("TicketsApp", props: {tickets: @tickets, chosenTicketId: -1}, prerender: false)

